@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Roboto+Mono:wght@700&display=swap%27");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.section1 {
  background-color: #1078ad;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif; }
  .section1__title {
    color: #B6BDBC;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px; }

.div1 {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: white; }
  .div1__div--title {
    color: #f4cf1b; }
  .div1__div--a {
    display: block; }
  .div1__div--a#lien1 {
    background-color: #f4cf1b;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .div1__div--a#lien2 {
    text-decoration: underline solid #f4cf1b; }

.section2 {
  background-color: #bfdbea;
  height: 200px;
  font-family: "Lato", sans-serif; }
  .section2__title {
    text-align: center;
    padding-top: 10px;
    font-size: 2rem; }
  .section2__image {
    display: block;
    margin: 10px auto; }
  .section2__a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    margin-bottom: 20px;
    font-size: 2rem;
    background-color: #2684b5;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding-top: 10px; }

.section3 {
  font-family: "Lato", sans-serif; }
  .section3__image {
    display: block;
    margin: 10px auto; }
  .section3__div {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px; }

.dive {
  width: 25%;
  font-size: 2rem;
  text-align: center; }
  .dive__title1 {
    color: #2684b5; }
  .dive__title3, .dive__title5 {
    color: green; }
  .dive__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
    .dive__list--a {
      text-decoration: none;
      color: black;
      font-weight: bold; }

#elm1 {
  border-radius: 5px;
  border: 1px solid #bfdbea;
  padding: 5px;
  font-size: 1.5rem; }

.elm2 {
  color: #1078ad; }

i {
  color: #f4cf1b; }

.dive2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.dive3 {
  padding-top: 50px;
  color: #B6BDBC; }

.section4 {
  height: 20px;
  background-color: #2684b5; }
