@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Roboto+Mono:wght@700&display=swap%27");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

  .header {
    background-color: #bfdbea; }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%; }

  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010; }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  
  .nav-menu a {
    color: #2684b5; }
  
  .nav-item {
    margin-left: 5rem; }
  
  .nav-link {
    font-size: 2rem;
    font-weight: 400;
    color: #475569; }
  
  .nav-link:hover {
    color: #26519e; }
  
  .langue {
    text-align: center;
    align-items: center;
    display: inline-flex;
    font-size: 2.4rem;
    cursor: pointer;
    /*  background-color: #86c6e9; */ }
  
  .nav-langue {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    overflow: hidden; }
  
  .langue__image {
    padding: 0 1rem; }
  
  .langue__image--brit {
    width: 3.4rem; }
  
    .info {
      background-color: #f4cf1b;
      text-align: center;
      padding: 2rem 20%; }
      .info__titre {
        font-size: 2.4rem;
        font-family: "Roboto Mono", monospace; }
      .info__texte {
        color: #1479ac;
        font-size: 2rem;
        font-family: "Lato", sans-serif; }
    
